@using BOS.Webclient.Models.Accounts
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
  <li class="nav-item">
    <a class="nav-link text-dark" href=@Url.Action("Index", "Account") title="Account">Account</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href=@Url.Action("Logout", "Account") title="Logout">Logout</a>
  </li>
}
else
{
  <li class="nav-item">
    <a class="nav-link text-dark" href=@Url.Action("Register", "Account") title="Register">Register</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href=@Url.Action("Login", "Account") title="Login">Login</a>
  </li>
}
</ul>